.introduction-container {
  width: 100%;
  padding: 5% 10%;
  background-color: transparent;
  color: white;
}

.introduction-content {
  max-width: 1200px;
  margin: 0 auto;
}

.introduction-content h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.introduction-block {
  text-align: left;

  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: white;
  }

  p {
    font-size: 1rem;
    line-height: 1.6;
    max-width: 1000px;
    margin-bottom: 0;
    color: white;
  }
}
